/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Lato:wght@300&display=swap');


/* Asterisk wildcard */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */

html {
    scroll-behavior: smooth;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'lato', sans-serif;

}

h1 , h2 {
    font-family: 'Fugaz One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #e9e9ea;
}

/* Header */
header {
    background-color: #1c1b23;
    padding: 0 1rem;
    position: fixed;
    z-index: 100;
    width: 100%;
    box-shadow: 0px 2px 2px #3a3a3a;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: inherit;
}


#logo {
    font-size: 150%;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    color: #e9e9ea;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#devider1 , #devider2 , #devider3 {
    height:2px;
    background-color:#2788ea;
}


/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #1c1b23;
    width: 100%;
    left: 0;
    box-shadow: 0 2px 2px #3a3a3a;
    padding: 0 1rem;
    display: none;
    top: 99%;
}

/* Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #e9e9ea;

}

/* Main content */
main {
    flex: 1 0 auto;
    margin-top: 43px;
    display: flex;
    flex-direction: column;
}

/* Hero home page */
#hero {
    width: 100%;
    height: 400px;
    position: relative;
    color: white;
    overflow: hidden;
    background: #C04848;
    /* fallback for old browsers */
    background: linear-gradient(rgba(162, 155, 162, 0.8), rgb(147, 202, 237, 0.8)), url("../images/mariah-hewines-s3BIuan-wjo-unsplash.jpg") no-repeat center center/cover;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(162, 155, 162, 0.8), rgba(147, 202, 237, 0.8)), url("../images/mariah-hewines-s3BIuan-wjo-unsplash.jpg") no-repeat center center/cover;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;

}

#inspiration-text {
    background-color: transparent;
    font-size: 80%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    max-width: 600px;
    padding-top: 40px;
    padding-right: 10px;
    

}

#inspiration-text > h2 {
    margin-left: 10px;
    color:#e9e9ea;
}

/* Section */
#what-I-offer {
    background-color: #242627;
    width: 100%;
    margin: 20px auto;
    margin-bottom: 0px;
    margin-top: 0px;
    
}

#what-I-offer h2{
    margin-bottom: 20px;
    text-align: center;
    font-size: 250%;
}
#what-I-offer h3 {
    margin-bottom: 40px;
    text-align: center;
    color:#e9e9e9;
}

/* icons styles */

#lessons-container ul {
    margin-left: 25px;
}

#beginner h3{
    margin-left: 10px;
}
#beginner > div, #intermediate >div , #hockey>div{
    line-height: 20px;
    margin-bottom: 20px;
}

div ul {
    color:#e9e9e9;
    text-align:center;
}

#why-skating {
    background-color: #242627;
}

#why-skating h2{
    margin-top: 20px;
    margin-left: 10px;
}

#why-skating p {
    font-family: sans-serif;
    color:#e9e9e9;
    margin-left: 10px;
    margin-right: 10px;
    
}

#why-skating h3{
    margin-bottom:10px;
    margin-left: 5px;
    margin-right:5px;
    padding: 5px;
    color: #2788ea;

}

#why-skating p{
    font-size: 90%;
    margin-bottom: 10px;
}




/* Beginners image */

#beginner-image {
    width: 100%;
    height: 180px;
    padding: 1px;
    margin-bottom: 20px;
    max-width: 500px;
    max-height: 500px;
    box-shadow: 1px 1px 8px #2788ea;
    
    
}

/* Intermediate image */

#image-intermediate {
    width: 100%;
    height: 180px;
    padding: 1px;
    margin-bottom: 20px;
    max-width: 500px;
    max-height: 500px;
    box-shadow: 1px 1px 8px #2788ea;
    
}


/* Hockey image */

#image-hockey {
    width: 100%;
    height: 180px;
    padding: 1px;
    margin-bottom: 20px; 
    max-width: 500px;
    max-height: 500px;
    box-shadow: 1px 1px 8px #2788ea;

}


/* Hero About me image */

#aboutmebg {
    background-color: #1c1b23;
}

.anton-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top:10px;
}

#anton h4{
    text-align:center;
    margin-bottom: 20px;
    margin-top:20px;
    color:#e9e9e9;
    padding:10px;

}

#book-me-form button{
    background-color: #2788ea;
    margin-left: 10px;
    margin-bottom: 10px;

    
    
}

#book-me-form1 button {
    background-color: #2788ea;
    margin-left: 10px;
    margin-bottom: 10px;

}



/* Contact me page  */

/* Form */
#contact-me-image {
    background-image: url("../images/braden-barwich-yaAruHxQ9OQ-unsplash.jpg");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#contact-me-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
    margin-bottom: 20px;
}

#contact-me-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #2788ea;
    color: #fafafa;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #e9e9ea;

}

footer {
    background-color: #1c1b23;
}

/* Media query for tablets and larger(768px and larger) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 75px;
        margin: 0 1rem;
    }

    /* Main content */
    main {
        margin-top: 75px;
    }


    /* Hero Image */
    #hero {
        width: 100%;
        height: 550px;
        color: white;
        overflow: hidden;
        background: #C04848;
        /* fallback for old browsers */
        background: linear-gradient(rgba(162, 155, 162, 0.8), rgb(147, 202, 237, 0.8)), url("../images/taylor-friehl-byhpFPXLdy4-unsplash\ \(1\).jpg") no-repeat center center/cover;
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(rgb(162, 155, 162, 0.8), rgba(147, 202, 237, 0.8)), url("../images/taylor-friehl-byhpFPXLdy4-unsplash\ \(1\).jpg") no-repeat center center/cover;
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    #beginner-image ,#image-intermediate ,#image-hockey{
        width:200px;
        height: 200px;
        padding:5px;
        margin-left:10px;
        margin-right:10px;
    }

    div ul{
        text-align: left;
    }

    #book-me-form button {
        background-color: #2788ea;
        margin-left: 10px;
        margin-bottom: 10px;
        font-size: 140%;
    }

    #book-me-form1 button {
        background-color: #2788ea;
        margin-left: 10px;
        margin-bottom: 10px;
        font-size: 140%;
    
    }
        
    

    

    /* About me page */

    #anton h4{
        margin-left:50px;
        margin-right:50px;
    }
    
    /* Hero image */
    .anton-image {
        width: 400px;
        height: 500px;
     
    }

    
    #lessons-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
     
        /* Form */
    #contact-me {
        background-position: center;
        position: relative;
    }
    
    #contact-me-form {
        max-width: 400px;
        position: absolute;
        left: 10%;
        top: 90px;
    }
    
    .text-input:hover {
        border-color: #2788ea;
    }
    
    .join-button:hover {
        background-color: #FAFAFA;
        color: #2788ea;
    }
    

    /* Footer social networks */

     #social-networks {
        text-align: center;
        padding: 20px 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
    }

    #social-networks i {
        font-size: 160%;
        padding: 5%;
        margin: 20px;
        color: #e9e9ea;
    }

}
/* Media query for laptops/computers and larger(992px and larger) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #2788ea;
    }
    
    /*Hero home page */
    #hero {
        width: 100%;
        height: 400px;
        color: white;
        overflow: hidden;
        background: #C04848;
        /* fallback for old browsers */
        background: linear-gradient(rgba(162, 155, 162, 0.8), rgb(147, 202, 237, 0.8)), url("../images/taylor-friehl-byhpFPXLdy4-unsplash\ \(1\).jpg") no-repeat center center/cover;
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(rgb(162, 155, 162, 0.8), rgba(147, 202, 237, 0.8)), url("../images/taylor-friehl-byhpFPXLdy4-unsplash\ \(1\).jpg") no-repeat center center/cover;
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    
    }

    /* Hero about me page */
    #anton {
        display:flex;
        flex-direction:row-reverse;
       
    }

    .anton-image {
        width:400px;
        height: 650px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    #anton h4{
        padding:5px;
        margin-left:80px;
        margin-right:80px;
        margin-bottom: 60px;
    }

    .book-now {
        font-size: 150%;;
    }
    
    
    #beginner-image,
    #image-intermediate,
    #image-hockey {
        width: 300px;
        height: 300px;
        padding: 5px;
        margin-left: 10px;
        margin-right: 10px;

    }


    /* Footer social networks */

    #social-networks {
        text-align: center;
        padding: 20px 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
    }

    #social-networks i {
        font-size: 160%;
        padding: 5%;
        margin: 20px;
        color: #e9e9ea;
    }

    footer {
        margin-top: auto;
    }
}