/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Lato:wght@300&display=swap');


/* Asterisk wildcard */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'lato', sans-serif;

}

h1 , h2 {
    font-family: 'Fugaz One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #e9e9ea;
}

/* Header */
header {
    background-color: #1c1b23;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: inherit;
}


#logo {
    font-size: 150%;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    color: #e9e9ea;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #1c1b23;
    width: 100%;
    left: 0;
    box-shadow: 0 2px 2px #3a3a3a;
    padding: 0 1rem;
    display: none;
    top: 99%;
}

/* Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #e9e9ea;

}

/* Main content */
main {
    flex: 1 0 auto;
    margin-top: 43px;
}

/* Hero home page */
#hero {
    width: 100%;
    height: 600px;
    position: relative;
    color: white;
    overflow: hidden;
    background: #C04848;
    /* fallback for old browsers */
    background: linear-gradient(rgba(162, 155, 162, 0.8), rgb(147, 202, 237, 0.8)), url("../images/mariah-hewines-s3BIuan-wjo-unsplash.jpg") no-repeat center center/cover;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(162, 155, 162, 0.8), rgba(147, 202, 237, 0.8)), url("../images/mariah-hewines-s3BIuan-wjo-unsplash.jpg") no-repeat center center/cover;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;

}

#inspiration-text {
    background-color: transparent;
    font-size: 100%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-right: 10px;
    

}

#inspiration-text > h2 {
    color:#e9e9ea;
}

hr {
    width:100%;
    text-align: left;
    margin-left: 0;
}


/* Section */
#what-I-offer {
    background-color: #93CAED;
    width: 100%;
    margin-top: auto;
}

#what-I-offer h2{
    margin-bottom: 20px;
    text-align: center;
    font-size: 250%;
}
#what-I-offer h3 {
    margin-bottom: 15px;
    text-align: center;
}

.lessons > div {
    margin-bottom: 20px;
    line-height: 20px;
}

.lessons p{
    padding: 0 20px;
    color: #e9e9ea;
    font-size: 130%;
}

.lessons h4 {
    text-align: center;

}

div p {
    background-color: rgb(14, 11, 8, 0.3);
    border: 2px solid #1c1b23;
    width: 97%;
    padding: 5px;
    margin: 3px;
    box-shadow: 5px 5px 5px black;
}


/* Beginners image */

#beginner-image {
    padding: 5px;
    width: 100%;
    height: 100px;
    border: 1px solid #1c1b23;
}

/* Intermediate image */

#image-intermediate {
    width: 100%;
    height: 100px;
}


/* Hockey image */

#image-hockey {
    width: 100%;
    height: 100px;
}

/* About me image */

#about-me-image {
    width: 100%;
    height: 200px;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #e9e9ea;

}

footer {
    background-color: #1c1b23;
}

/* Contact me page  */

/* Hero contact me image */
#hero1 {
    width: 100%;
    height: 600px;
    background: url("../images/braden-barwich-yaAruHxQ9OQ-unsplash.jpg") no-repeat center center/cover;
    position: relative;
}

/* Media query for tablets and larger(768px and larger) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 75px;
        margin: 0 1rem;
    }

    /* Main content */
    main {
        margin-top: 75px;
    }


    /* Hero Image */
    #hero {
        width: 100%;
        height: 850px;
        color: white;
        overflow: hidden;
        background: #C04848;
        /* fallback for old browsers */
        background: linear-gradient(rgba(162, 155, 162, 0.8), rgb(147, 202, 237, 0.8)), url("../images/taylor-friehl-byhpFPXLdy4-unsplash\ \(1\).jpg") no-repeat center center/cover;
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(rgb(162, 155, 162, 0.8), rgba(147, 202, 237, 0.8)), url("../images/taylor-friehl-byhpFPXLdy4-unsplash\ \(1\).jpg") no-repeat center center/cover;
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
        background-repeat: no-repeat;
    }

    /* Footer social networks */

     #social-networks {
        text-align: center;
        padding: 20px 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
    }

    #social-networks i {
        font-size: 160%;
        padding: 5%;
        margin: 20px;
        color: #e9e9ea;
    }
}
/* Media query for laptops/computers and larger(992px and larger) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #2788ea;
    }

    #hero {
        width: 100%;
        height: 400px;
        color: white;
        overflow: hidden;
        background: #C04848;
        /* fallback for old browsers */
        background: linear-gradient(rgba(162, 155, 162, 0.8), rgb(147, 202, 237, 0.8)), url("../images/taylor-friehl-byhpFPXLdy4-unsplash\ \(1\).jpg") no-repeat center center/cover;
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(rgb(162, 155, 162, 0.8), rgba(147, 202, 237, 0.8)), url("../images/taylor-friehl-byhpFPXLdy4-unsplash\ \(1\).jpg") no-repeat center center/cover;
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
        background-repeat: no-repeat;
    
    }


    /* Footer social networks */

    #social-networks {
        text-align: center;
        padding: 20px 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
    }

    #social-networks i {
        font-size: 160%;
        padding: 5%;
        margin: 20px;
        color: #e9e9ea;
    }

    footer {
        margin-top: auto;
    }
}