/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Lato:wght@300&display=swap');


/* Asterisk wildcard */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'lato', sans-serif;
    
}

/* Header */
header {
    background-color: #1c1b23;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Fugaz One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff
}

#logo {
    font-size: 150%;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    color: #ffffff;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #1c1b23;
    width: 100%;
    left: 0;
    box-shadow: 0 2px 2px #3a3a3a;
    padding: 0 1rem;
    display: none;
    top: 99%;
} 

/* Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    
}

/* Main content */
main {
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Hero */ 
#hero {
    width: 100%;
    height: 600px;
    background: url("../images/taylor-friehl-byhpFPXLdy4-unsplash\ \(1\).jpg") no-repeat bottom center/cover;

}

/* Footer */
#social-networks {
    text-align: center;
    padding: 18px 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;

}

footer {
    background-color: #1c1b23;
}

/* Media query for tablets and larger(768px and larger) */
@media screen and (min-width: 768px){
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 75px;
        margin: 0 1rem;
    }
    /* Main content */
    main {
        margin-top: 75px;
    }
}

/* Media query for laptops/computers and larger(992px and larger) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}